.message {
  padding: 0.2em;
  border-radius: 10px;
  white-space: pre-wrap;
}

.chat-title {
  text-transform: uppercase;
}

.welcome-message {
  color: #4a4949cf;
  margin: 1em;
  font-size: 0.8em;
}

.other-message .chat-bubble {
  background-color: var(--ion-color-tertiary);
  color: white;
  border-top-left-radius: 0px;
}

.my-message .chat-bubble {
  background-color: var(--ion-color-secondary);
  color: white;
  border-top-right-radius: 0px;
}

.chat-bubble {
  padding: 0.5em;
  border-radius: 8px;
  margin: 0.2em;
}

.user-name {
  font-size: 0.6em;
  margin: 0.3em;
  margin-top: 0.2em;
  margin-left: 0;
}

.time {
  color: gainsboro;
  font-size: 0.5em;
  padding-top: 0.5em;
}

.message-textarea {
  max-height: 5rem;
}

.message-btn {
  --padding-start: 0.7rem;
  --padding-end: 0.7rem;
}

IonTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
